<section id="login-section">
    <h2>Login</h2>

    <form method="POST" action="http://localhost:8080/api/sessions/login">
        <label for="email">
            Email:
            <input type="email" name="email" id="email" required>
        </label>
        <label for="password">
            Password:
            <input type="password" name="password" id="password" required>
        </label>
        <button type="submit" id="login">Log in</button>
    </form>
</section>