<section id="registration-form">
    <h2>Registration form:</h2>
    <form method="POST" action="http://localhost:8080/api/users/signIn">
        <label for="first_name">
            First name:
            <input type="text" name="first_name">
        </label>
        <label for="last_name">
            Last name:
            <input type="text" name="last_name">
        </label>
        <label for="email">
            Email:
            <input type="email" name="email">
        </label>
        <label for="age">
            Age:
            <input type="number" name="age">
        </label>
        <label for="password">
            Password:
            <input type="password" name="password" autocomplete="...">
        </label>
        <button type="submit" id="login">Register user</button>
    </form>
</section>